/*PALETTA DE COLORES*/
:root {
    --color-principal:#591212;
    --color-secundario:#BF2424;
    --color-terciario:#174873;
    --color-cuarto:#295FA6;
    --color-opuesto:#125959;
    --color-fondo: #E7E1E1;
    --color-blanco: #fff;
    --color-negro: #000;
}

.img-administracion{
    width: 75px;
    height: 100px;
}