/*PALETTA DE COLORES*/
:root {
    --color-1: #223d58;
    --color-2: #3e6389;
    --color-3: #6e94b9;
    --color-4: #b1d1f1;
    --color-5: #1c7373;
    --color-6: #005757;
    --color-7: #b45908;
    --color-8: #ab5408;
    --color-fondo: #eaeef4;
    --color-complementario-I : #ce1d49;
    --color-complementario-II : #b81941;
    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-blanco: #fff;
    --color-negro: #000;
}

.desarrolladores{
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.desarrolladores .desarrolladores-titulo{
    margin-bottom: 10px;
}

.desarrolladores .desarrolladores-titulo h3{
    text-transform: uppercase;
}

.desarrolladores .contenedor-desarrolladores{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor-desarrolladores .card{
    position: relative;
    width: 320px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
    margin: 10px 30px;
}

.contenedor-desarrolladores .card .contenido{
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    background-color: var(--color-blanco);
}

.contenedor-desarrolladores .card .contenido .img-desarrollador{
    height: 50%;
    margin-bottom: 20px;
}

.contenedor-desarrolladores .card .contenido .img-desarrollador img{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    aspect-ratio: 16/9;
}

.contenedor-desarrolladores .card .contenido span{
    position: absolute;
    width: 320px;
    height: 350px;
    background: linear-gradient(to right, var(--color-5), var(--color-6));
    border-radius: 50%;
    top: -175px;
    left: 0px;
}

.contenedor-desarrolladores .card .contenido h4{
    font-weight: bold;
    margin-bottom: 10px;
}

.contenedor-desarrolladores .card .contenido h5{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--color-9);
}

.contenedor-desarrolladores .card .contenido p{
    font-size: 16px;
}

.contenedor-desarrolladores .card .links{
    position: absolute;
    z-index: 2;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
    padding: 20px;
    align-items: center;
    right: 10px;
    top: 15px;
}

.contenedor-desarrolladores .card:hover .links{
    right: -50px;
    border-radius: 0px 10px 10px 0px;
    transition: 0.5s;
}

.contenedor-desarrolladores .card .links a{
    font-size: 1.5rem;
    color: var(--color-negro);
}

.contenedor-desarrolladores .card .links a:nth-child(1):hover{
    color: #0e76a8;
}

.contenedor-desarrolladores .card .links a:nth-child(2):hover{
    color: #7D31F5;
}

.contenedor-desarrolladores .card .links a:nth-child(3):hover{
    color: #25D366;
}

.contenedor-desarrolladores .card .links a:nth-child(4):hover{
    color: var(--color-warning);
}

@media (max-width:800px){
    .contenedor-desarrolladores .card{
        width: 250px;
        height: 400px;
        margin: 10px 20px;
    }

    .contenedor-desarrolladores .card .contenido .img-desarrollador img{
        width: 100px;
        height: 100px;
    }

    .contenedor-desarrolladores .card .contenido span{
        width: 250px;
        height: 280px;
        top: -150px;
    }

    .contenedor-desarrolladores .card .contenido h4{
        font-size: 16px;
    }

    .contenedor-desarrolladores .card .contenido h5{
        font-size: 14px;
    }

    .contenedor-desarrolladores .card .contenido p{
        font-size: 14px;
    }

    .contenedor-desarrolladores .card .links{
        width: 40px;
        gap: 20px;
        padding: 15px;
    }

    .contenedor-desarrolladores .card:hover .links{
        right: -40px;
    }

    .contenedor-desarrolladores .card .links a{
        font-size: 1rem;
        color: var(--color-negro);
    }
}

@media (max-width:650px){
    .desarrolladores{
        width: 100%;
        padding: 10px 0px;
    }

    .contenedor-desarrolladores .card{
        width: 200px;
        height: 400px;
    }

    .contenedor-desarrolladores .card .contenido .img-desarrollador img{
        width: 80px;
        height: 80px;
    }

    .contenedor-desarrolladores .card .contenido span{
        width: 200px;
        height: 210px;
        top: -100px;
    }

    .contenedor-desarrolladores .card .contenido h4{
        font-size: 14px;
    }

    .contenedor-desarrolladores .card .contenido h5{
        font-size: 12px;
    }

    .contenedor-desarrolladores .card .contenido p{
        font-size: 12px;
    }

    .contenedor-desarrolladores .card .links{
        width: 30px;
        gap: 10px;
        padding: 10px;
        right: 10px;
        top: 15px;
    }

    .contenedor-desarrolladores .card:hover .links{
        right: -30px;
        border-radius: 0px 10px 10px 0px;
        transition: 0.5s;
    }

    .contenedor-desarrolladores .card .links a{
        font-size: 1rem;
        color: var(--color-negro);
    }
}

@media (max-width:480px){
    .contenedor-desarrolladores .card{
        width: 80%;
        height: 350px;
    }

    .contenedor-desarrolladores .card .contenido .img-desarrollador img{
        width: 100px;
        height: 100px;
    }

    .contenedor-desarrolladores .card .contenido span{
        width: 100%;
        height: 230px;
        top: -100px;
    }

    .contenedor-desarrolladores .card .contenido h4{
        font-size: 14px;
    }

    .contenedor-desarrolladores .card .contenido h5{
        font-size: 12px;
    }

    .contenedor-desarrolladores .card .contenido p{
        font-size: 12px;
    }

    .contenedor-desarrolladores .card .links{
        width: 30px;
        gap: 10px;
        padding: 10px;
        right: 10px;
        top: 15px;
    }

    .contenedor-desarrolladores .card:hover .links{
        right: -30px;
        border-radius: 0px 10px 10px 0px;
        transition: 0.5s;
    }

    .contenedor-desarrolladores .card .links a{
        font-size: 1rem;
        color: var(--color-negro);
    }
}